Repository ghostty-org/ghostty, pull requests merged in 2025-07, with the labels that each got.

#7390 Adding a Bulgarian localization.
  po/bg_BG.UTF-8.po
  src/os/i18n.zig
Labels: translations

#7808 bash: stop using PS0 for the 'cursor' feature
  src/shell-integration/bash/ghostty.bash
Labels: shell-integration

#7809 Better Glyph Constraint Logic
  build.zig.zon
  build.zig.zon.json
  build.zig.zon.nix
  build.zig.zon.txt
  flatpak/zig-packages.json
  pkg/freetype/freetype-zig.h
  pkg/macos/graphics/context.zig
  src/build/SharedDeps.zig
  src/config/Config.zig
  src/font/SharedGrid.zig
  src/font/SharedGridSet.zig
  src/font/embedded.zig
  src/font/face.zig
  src/font/face/coretext.zig
  src/font/face/freetype.zig
  src/font/face/freetype_convert.zig
  src/font/nerd_font_attributes.zig
  src/font/nerd_font_codegen.py
  src/font/opentype/sfnt.zig
  src/font/shaper/coretext.zig
  src/renderer/cell.zig
  src/renderer/generic.zig
  src/renderer/metal/shaders.zig
  src/renderer/opengl/shaders.zig
  src/renderer/shaders/glsl/cell_text.f.glsl
  src/renderer/shaders/glsl/cell_text.v.glsl
  src/renderer/shaders/shaders.metal
  vendor/nerd-fonts/LICENSE
  vendor/nerd-fonts/README.md
  vendor/nerd-fonts/font-patcher.py
Labels: font

#7821 macOS: zig build run disables window saved state
  macos/Sources/App/macOS/AppDelegate.swift
  macos/Sources/Ghostty/Package.swift
  src/build/GhosttyXcodebuild.zig
Labels: os/macos

#7819 refactor nerd font codegen script
  src/font/nerd_font_attributes.zig
  src/font/nerd_font_codegen.py
Labels: font

#7826 gtk: don't allow focusing on tab overview or menu buttons
  src/apprt/gtk/Window.zig
Labels: os/linux, gui

#7790 Add linux kernel information to +version
  src/cli/version.zig
  src/os/kernel_info.zig
  src/os/main.zig
Labels: cli

#7840 Fallback Font Size Adjustment
  src/font/Collection.zig
  src/font/Glyph.zig
  src/font/Metrics.zig
  src/font/face/coretext.zig
  src/font/face/freetype.zig
  src/font/face/web_canvas.zig
  src/font/sprite/Face.zig
Labels: font

#7854 font/coretext: disable Apple's quantization, do it ourselves
  src/font/face/coretext.zig
Labels: os/macos, font

#7791 linux: switch systemd user service to type notify-reload
  dist/linux/systemd.service.in
  src/apprt/gtk/App.zig
  src/apprt/gtk/Surface.zig
  src/os/systemd.zig
Labels: os/linux

#7898 build: make the xcframework step dsym aware, even though we don't use it
  src/build/GhosttyLib.zig
  src/build/GhosttyXCFramework.zig
  src/build/XCFrameworkStep.zig
Labels: os/macos

#7897 Fix custom shader cursor uniforms not set for non-block cursors (#7893)
  src/renderer/cell.zig
  src/renderer/generic.zig
Labels: renderer

#7908 bash: preserve an existing ENV value
  src/shell-integration/bash/ghostty.bash
  src/termio/shell_integration.zig
Labels: shell-integration

#7913 renderer: Allow the renderer to draw transparent cells
  src/config/Config.zig
  src/renderer/generic.zig
Labels: renderer

#7935 build: update libxev to remove usingnamespace usage
  build.zig.zon
  build.zig.zon.json
  build.zig.zon.nix
  build.zig.zon.txt
  flatpak/zig-packages.json
Labels: dependencies

#7896 cli/gtk: add +new-window action
  include/ghostty.h
  src/apprt.zig
  src/apprt/embedded.zig
  src/apprt/gtk/App.zig
  src/apprt/gtk/ipc.zig
  src/apprt/gtk/ipc/new_window.zig
  src/apprt/ipc.zig
  src/apprt/none.zig
  src/cli/args.zig
  src/cli/ghostty.zig
  src/cli/new_window.zig
Labels: os/linux, cli

#7947 windows: get +ssh-cache building on Windows
  src/cli/ssh-cache/DiskCache.zig
Labels: cli

#7944 fix: rename tab title popup focus
  macos/Sources/Ghostty/SurfaceView_AppKit.swift
Labels: os/macos

#7889 Add missing Dutch translations, fix grammar, improve flow
  po/nl_NL.UTF-8.po
Labels: translations

#7965 apprt/gtk-ng: assert that GTK is uninitialized in setGtkEnv
  src/apprt/gtk-ng/class/application.zig
Labels: os/linux, gui

#7960 shell-integration.fish: fix ssh-term integration bug, don't use $ssh_terminfo
  src/shell-integration/fish/vendor_conf.d/ghostty-shell-integration.fish
Labels: shell-integration

#7994 apprt/gtk-ng: implement `Surface.close`
  src/App.zig
  src/apprt/embedded.zig
  src/apprt/gtk-ng/Surface.zig
  src/apprt/gtk-ng/class/surface.zig
  src/apprt/gtk-ng/class/window.zig
  src/apprt/gtk-ng/ui/1.5/window.blp
  src/apprt/gtk/Surface.zig
Labels: os/linux, gui

#8012 apprt/gtk-ng: resize overlay
  src/apprt/gtk-ng/build/gresource.zig
  src/apprt/gtk-ng/class/resize_overlay.zig
  src/apprt/gtk-ng/class/surface.zig
  src/apprt/gtk-ng/css/style.css
  src/apprt/gtk-ng/ui/1.2/resize-overlay.blp
  src/apprt/gtk-ng/ui/1.2/surface.blp
  typos.toml
  valgrind.supp
Labels: os/linux, gui

#8035 apprt/gtk-ng: bind template callbacks so we can connect signals in blp
  src/apprt/gtk-ng/class.zig
  src/apprt/gtk-ng/class/clipboard_confirmation_dialog.zig
  src/apprt/gtk-ng/class/surface.zig
  src/apprt/gtk-ng/class/window.zig
  src/apprt/gtk-ng/ui/1.0/clipboard-confirmation-dialog.blp
  src/apprt/gtk-ng/ui/1.2/surface.blp
  src/apprt/gtk-ng/ui/1.4/clipboard-confirmation-dialog.blp
  src/apprt/gtk-ng/ui/1.5/window.blp
Labels: os/linux, gui

#8040 i18n: Updated translation for nl_NL
  po/nl_NL.UTF-8.po
Labels: translations

#8057 gtk-ng: add debug warning banner
  src/apprt/gtk-ng/build/gresource.zig
  src/apprt/gtk-ng/class/debug_warning.zig
  src/apprt/gtk-ng/class/window.zig
  src/apprt/gtk-ng/ui/1.2/debug-warning.blp
  src/apprt/gtk-ng/ui/1.3/debug-warning.blp
  src/apprt/gtk-ng/ui/1.5/window.blp
  src/build_config.zig
Labels: os/linux, gui

#8069 gtk-ng: add ipc infrastructure and connect +new-window ipcs
  src/apprt/gtk-ng/App.zig
  src/apprt/gtk-ng/class/application.zig
  src/apprt/gtk-ng/ipc/new_window.zig
Labels: os/linux, gui

#7953 Add per-font size adjustment, don't adjust nf symbol font or emoji font; use non-Mono symbols nerd font
  src/build/SharedDeps.zig
  src/font/CodepointResolver.zig
  src/font/Collection.zig
  src/font/Metrics.zig
  src/font/SharedGrid.zig
  src/font/SharedGridSet.zig
  src/font/face.zig
  src/font/face/coretext.zig
  src/font/face/freetype.zig
  src/font/main.zig
  src/font/nerd_font_attributes.zig
  src/font/nerd_font_codegen.py
  src/font/shaper/coretext.zig
  src/font/shaper/harfbuzz.zig
  src/font/sprite/Face.zig
Labels: font

#8087 macOS: update Float on Top menu icon to `square.filled.on.square`
  macos/Sources/App/macOS/AppDelegate.swift
Labels: os/macos, gui
